@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');


*{margin: 0; padding: 0; box-sizing: border-box;}
ul, ol, li{list-style: none;}
a{text-decoration: none; color: inherit;}
html, body{
    font-size: 14px;
    color: #444;
    font-family: "Playwrite IT Moderna", "맑은 고딕", cursive;
}

img{vertical-align: baseline;}
table{border-collapse: collapse;}